@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body {
    background-color: #FFFFFF;
    margin: 0;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 110%;
    color: #4a4a4a;
}

h1, h2, h3, h4 {
    font-family: "Oswald", Helvetica, sans-serif;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

.wrapper {
    display: grid;
    grid-template-areas:
    "header"
    "content";
}

    .content {
        grid-area: content;
        display: grid;
        grid-template-areas:
        "header"
        "gaalsien"
        "coalition"
        "unitCompare";
    }

        .gaalsien {
            grid-area: gaalsien;
            display: flex;
            flex-direction: column;
            margin: 10px;
        }

            .unitGrid {
                grid-area: unitSelect;
                display: flex;
                flex-direction: column;
            }

                .gaalsienSelect {
                    display: grid;
                    grid-gap: 10px;
                    grid-template-areas:
                    "gaalsienUnitArray  gaalsienCompare";
                }

        .coalition {
            grid-area: coalition;
            display: flex;
            flex-direction: column;
            margin: 10px;
        }

            /* .unitGrid also fills in here. */

            .coalitionSelect {
                display: grid;
                grid-gap: 10px;
                grid-template-areas:
                "coalitionUnitArray coalitionCompare";
            }

                .unitInfo {
                    display: grid;
                    flex-direction: row;
                    grid-gap: 5px;
                    grid-template-areas:
                    "unitDescription unitDescription unitDescription"
                    "stat            stat            stat"
                    "stat            stat            stat";
                }

                    .unitStats {
                        grid-area: stat;
                        display: grid;
                        flex-direction: row;
                        grid-gap: 5px;
                        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                    }

.header {
    grid-area: header;
    position: relative;
    color: #FFFFFF;
}

    .header > figure {
        margin: 0;
    }

    .header > figure > img {
        width: 100%;
        height: 100%;
        max-height: 250px;
        object-fit: cover;
    }

    .header > figure > figcaption {
        position: absolute;
        top: 40%;
        left: 20px;
        background-color: #4a4a4a;
        padding: 0 10px 0 10px;
    }

.gaalsien {
    grid-area: gaalsien;
    background-color: #A07D7D;
    padding: 0 0 0 10px;
    transition: width 1s ease-in-out;
}

.coalition {
    grid-area: coalition;
    background-color: #4B6060;
    padding: 0 0 0 10px;
}

.unitCompare {
    grid-area: unitCompare;
    background-color: #AAC7AA;
    padding: 0 0 0 10px;
}

    .coalitionCompare > figure > img, .gaalsienCompare > figure > img {
        width: 100%;
        height: 100%;
        max-height: 250px;
        object-fit: cover;
    }

    .coalitionCompare > figure, .gaalsienCompare > figure {
        margin: 0;
    }

    .coalitionCompare > figure > figcaption > h2, .gaalsienCompare > figure > figcaption > h2 {
        margin: 0;
    }

.unitSelect {
    padding: 5px;
}

    .clear {
      cursor: pointer;
      font-size: 3em;
      padding-left: 5%;
      transition: all .3s ease;
      width: 1.5em;
    }

    .unitButton {
        font-size: 1.2em;
        outline: none;
    }

    .fade-enter-active,
    .fade-leave-active {
      transition: opacity .3s ease;
    }

    .fade-enter,
    .fade-leave-to {
      opacity: 0;
    }

    #gaalsienUnitArray {
        grid-area: gaalsienUnitArray;
    }

    #gaalsienCompare {
        grid-area: gaalsienCompare;
    }

    #coalitionUnitArray {
        grid-area: coalitionUnitArray;
    }

    #coalitionCompare {
        grid-area:coalitionCompare;
    }

    #coalitionTitle {
        justify-content: flex-start;
    }

    .unitDescription {
        grid-area: unitDescription;
        background-color: #FFFFFF;
    }

    .stat {

    }

    .unitGrid > div > button {
        display: flex;
        align-items: center;
        width: 100%;
        cursor: pointer;
        font-size: .9em;
        background-color: #FFFFFF;
        padding: 2px 4px 2px 4px;
        border: solid 1px #4a4a4a;
    }

    .unitGrid > div > button:hover {
        color: #FFFFFF;
        background-color: #4a4a4a;
    }

    .unitGrid > div > button:focus {
        color: #FFFFFF;
        background-color: #4a4a4a;
    }

        .stat {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            background-color: #FFFFFF;
            padding: 2px 4px 2px 4px;
            border: solid 1px #4a4a4a;
        }

            .stat h4, p {
                font-size: .9em;
                margin: 2px;
            }

/* http://paletton.com/#uid=7000u0k1Xqw4Fvi3tot56l+76k8 */
