@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body {
    background-color: #FFFFFF;
    margin: 0;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 110%;
    color: #4a4a4a;
}

h1 {
    font-size: 1.4em;
    font-family: "Oswald", Helvetica, sans-serif;
}

h2 {
    font-size: 1.3em;
    font-family: "Oswald", Helvetica, sans-serif;
}

h3 {
    font-size: 1.2em;
    font-family: "Oswald", Helvetica, sans-serif;
}

h4 {
    font-size: 1.1em;
    font-family: "Oswald", Helvetica, sans-serif;
}

.wrapper {
    display: grid;
    grid-template-areas:
    "header"
    "content";
}

    .content {
        grid-area: content;
        display: grid;
        grid-template-areas:
        "header      header"
        "gaalsien    kushan"
        "unitCompare unitCompare";
    }

        .gaalsien {
            grid-area: gaalsien;
            display: grid;
            grid-template-areas:
            "factionTitle"
            "unitSelect";
            margin: 10px;
        }

            .unitGrid {
                grid-area: unitSelect;
                grid-gap: 5px;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                grid-auto-rows: 75px;
                grid-auto-flow: dense;
                padding: 0 10px 0 0;
            }

        .kushan {
            grid-area: kushan;
            display: grid;
            grid-template-areas:
            "factionTitle"
            "unitSelect";
            margin: 10px;
        }

        .unitCompare {
            margin: 10px;
        }

            /* .unitGrid also fills in here. */

.header {
    grid-area: header;
    position: relative;
    color: #FFFFFF;
}

    .header > figure {
        margin: 0;
    }

    .header > figure > img {
        width: 100%;
        height: 100%;
        max-height: 250px;
        object-fit: cover;
    }

    .header > figure > figcaption {
        position: absolute;
        top: 40%;
        left: 20px;
        background-color: black;
        padding: 0 10px 0 10px;
    }

.gaalsien {
    grid-area: gaalsien;
    background-color: #A07D7D;
    padding: 0 0 0 10px;
}

.kushan {
    grid-area: kushan;
    background-color: #4B6060;
    padding: 0 0 0 10px;
}

.unitCompare {
    grid-area: unitCompare;
    background-color: #AAC7AA;
    padding: 0 0 0 10px;
}

    .kushanCompare > figure > img, .gaalsienCompare > figure > img {
        width: 100%;
        height: 100%;
        max-height: 250px;
        object-fit: cover;
    }

.unitSelect {
    padding: 5px;
}

    .clear {
      cursor: pointer;
      font-size: 3em;
      padding-left: 5%;
      transition: all .3s ease;
      width: 1.5em;
    }

    .unitButton {
        font-size: 1.2em;
        outline: none;
    }

    .fade-enter-active,
    .fade-leave-active {
      transition: opacity .3s ease;
    }

    .fade-enter,
    .fade-leave-to {
      opacity: 0;
    }

    .unitGrid > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/* http://paletton.com/#uid=7000u0k1Xqw4Fvi3tot56l+76k8 */
