@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body {
    background-color: #FFFFFF;
    margin: 0;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 110%;
    color: #4a4a4a;
}

h1, h2, h3, h4 {
    font-family: "Oswald", Helvetica, sans-serif;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

.wrapper {
    display: grid;
    grid-template-areas:
    "header"
    "content";
}

    .content {
        grid-area: content;
        display: grid;
        grid-template-areas:
        "header header"
        "gaalsien coalition";
    }

        .gaalsien {
            grid-area: gaalsien;
            background-color: #A07D7D;
            margin: 5px;
            padding: 0 10px 0 5px;
        }

            .unitGrid {
                grid-area: unitSelect;
                display: flex;
                flex-direction: column;
            }

                .unitInfo {
                    display: grid;
                    grid-gap: 5px;
                    grid-template-areas:
                    "unitDescription"
                    "stat";
                }

                    .unitStats {
                        grid-area: stat;
                        display: grid;
                        flex-direction: row;
                        grid-gap: 5px;
                        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                    }

.header {
    grid-area: header;
    position: relative;
    color: #FFFFFF;
}

    .header > figure {
        margin: 0;
    }

    .header > figure > img {
        width: 100%;
        height: 100%;
        max-height: 250px;
        object-fit: cover;
    }

    .header > figure > figcaption {
        position: absolute;
        top: 40%;
        left: 20px;
        background-color: #4a4a4a;
        padding: 0 10px 0 10px;
    }

.unitInfo > figure > img {
    width: 100%;
    height: 100%;
    max-height: 250px;
    object-fit: cover;
}

    .unitDescription {
        grid-area: unitDescription;
        background-color: #FFFFFF;
    }

    .stat {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        background-color: #FFFFFF;
        padding: 2px 4px 2px 4px;
        border: solid 1px #4a4a4a;
    }

        .stat h4, p {
            font-size: .9em;
            margin: 2px;
        }







            /* Some boilerplating */
            * { box-sizing: border-box; }

            /* My dropdown */
            .my-dropdown {
              cursor: pointer;
            }

            /* Selected */
            .selected {
              position: relative;
              z-index: 2;
              display: block;
              width: 100%;
              height: 40px;
              padding: 0 20px;
              background: #054641;
              border-radius: 10px;
              font: 1.25rem/40px 'Ubuntu', Helvetica, Arial, sans-serif;
              text-shadow: 2px 2px 0px #000;
              color: #fff;
            }

            /* Arrow */
            .selected:after {
              opacity: 0.5;
              display: inline-block;
              margin-left: 10px;
              content: '▼';
            }

            /* Hover state */
            .selected:hover:after {
              opacity: 1;
            }

            /* Options wrapper (toggled by isOpen) */
            .options {
              position: absolute;
              z-index: 1;
              margin-top: 3px;
              background: #fff;
              border-radius: 10px;
            }

            /* Option */
            .option {
              padding: 5px 20px;
              border-bottom: 1px solid rgba(0, 0, 0, 0.25);
              font: 1.2rem 'Vollkorn', Georgia, Times, serif;
            }

            /* Hover state */
            .option:hover {
              background-color: rgba(0, 0, 0, 0.05);
            }

            /* Reset last child for a nice layout */
            .option:last-child {
              border-bottom: none;
            }

            /* Transition */
            .fade-enter-active, .fade-leave-active {
              transition: all .25s ease-out;
            }

            .fade-enter, .fade-leave-active {
              opacity: 0;
            	transform: translateY(-30px);
            }

/* http://paletton.com/#uid=7000u0k1Xqw4Fvi3tot56l+76k8 */
